/*
CSS cua web chính
*/






.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px
}

@media (max-width: 480px) {
    .col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {
        padding-left:7px;
        padding-right: 7px
    }
}

.col-xs-15 {
    width: 20%;
    float: left
}

@media (min-width: 768px) {
    .col-sm-15 {
        width:20%;
        float: left
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        -ms-flex:0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        -ms-flex:0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

.awe-section-1 {
    margin-bottom: 70px
}

.awe-section-2 {
    margin-bottom: 40px
}

.awe-section-3 {
    margin-bottom: 50px
}

.awe-section-4 {
    margin-bottom: 0
}

.awe-section-5 {
    margin-bottom: 0
}

.awe-section-6 {
    margin-bottom: 0
}

.awe-section-7 {
    margin-bottom: 0
}

.awe-section-8 {
    margin-bottom: 0
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 700px 104px;
    position: relative
}

@media (min-width: 1199px) {
    .home-slider {
        min-height:450px
    }
}

@media (max-width: 480px) {
    .home-slider {
        min-height:150px
    }
}

@media (max-width: 376px) {
    .home-slider {
        min-height:155px
    }
}

@media (max-width: 321px) {
    .home-slider {
        min-height:132px
    }
}

.home-slider .swiper-pagination-bullets {
    text-align: center
}

.home-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    box-shadow: none;
    outline: 0;
    width: 6px;
    height: 6px;
    background: #333f48;
    border-radius: 50%;
    border: 1px solid #333f48;
    padding: 0;
    font-size: 0;
    opacity: 0.8
}

.home-slider .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: all .2s;
    width: 30px;
    border-radius: 3px;
    background: #000;
    border-color: #000
}

.home-slider .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background: #000;
    border-color: #000
}

.home-slider .swiper-button-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    border-radius: 100%;
    right: 15px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.home-slider .swiper-button-next:hover {
    background: #272728
}

.home-slider .swiper-button-next:after {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin-left: 3px
}

@media (max-width: 767px) {
    .home-slider .swiper-button-next {
        width:15px;
        height: 15px;
        line-height: 15px
    }

    .home-slider .swiper-button-next:after {
        font-size: 7px;
        line-height: 15px;
        margin-left: 1px
    }
}

.home-slider .swiper-button-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    border-radius: 100%;
    left: 15px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.home-slider .swiper-button-prev:after {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 3px
}

.home-slider .swiper-button-prev:hover {
    background: #272728
}

@media (max-width: 767px) {
    .home-slider .swiper-button-prev {
        width:15px;
        height: 15px;
        line-height: 15px
    }

    .home-slider .swiper-button-prev:after {
        font-size: 7px;
        line-height: 15px;
        margin-right: 1px
    }
}

.home-slider .swiper-button-next,.home-slider .swiper-button-prev {
    border-radius: initial;
    width: 25px;
    height: 40px;
    display: none
}

.home-slider .swiper-button-next:after,.home-slider .swiper-button-prev:after {
    font-size: 14px;
    margin-left: 1px
}

.home-slider .swiper-button-next {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width: 767px) {
    .home-slider .swiper-button-next {
        width:15px;
        height: 15px;
        line-height: 15px;
        right: 10px;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .home-slider .swiper-button-next:after {
        font-size: 7px;
        line-height: 15px;
        margin-left: 1px
    }
}

.home-slider .swiper-button-prev {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width: 767px) {
    .home-slider .swiper-button-prev {
        width:15px;
        height: 15px;
        line-height: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        left: 10px;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .home-slider .swiper-button-prev:after {
        font-size: 7px;
        line-height: 15px;
        margin-right: 1px
    }
}

.home-slider:hover .swiper-button-next {
    visibility: visible;
    opacity: 1
}

.home-slider:hover .swiper-button-next.swiper-button-disabled {
    opacity: 0.35
}

.home-slider:hover .swiper-button-prev {
    visibility: visible;
    opacity: 1
}

.home-slider:hover .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35
}

.home-slider .swiper-pagination-bullets {
    bottom: 40px !important
}

@media (max-width: 767px) {
    .home-slider .swiper-pagination-bullets {
        bottom:0 !important
    }
}

.home-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px !important;
    width: 15px;
    height: 5px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: initial
}

.home-slider .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 5px;
    border-radius: initial
}

.section_service {
    background: #000;
    padding: 25px 0;
    margin: auto;
    margin-top: -30px;
    position: relative;
    z-index: 9;
    margin-bottom: 50px
}

@media (max-width: 767px) {
    .section_service {
        margin-bottom:30px
    }
}

@media (min-width: 1200px) {
    .section_service {
        width:1200px
    }
}

@media (min-width: 1300px) {
    .section_service {
        width:1300px
    }
}

@media (min-width: 1600px) {
    .section_service {
        width:1550px
    }
}

.section_service .service-swiper .item {
    text-align: center
}

.section_service .service-swiper .item .icon {
    margin-bottom: 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.section_service .service-swiper .item .info h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff
}

.section_service .service-swiper .item .info p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 20px;
    color: #fff
}

.section_service .service-swiper .swiper-pagination {
    position: initial
}

@media (min-width: 1199px) {
    .section_service .service-swiper .swiper-pagination {
        display:none
    }
}

.section_service .service-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 9px;
    height: 4px;
    border-radius: initial;
    background: #fff;
    opacity: 1;
    margin: 0 2px
}

.section_service .service-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 14px
}

.section_service .service-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,.section_service .service-swiper .swiper-pagination .swiper-pagination-bullet:hover {
    background: #942319
}

.section_product_new,.section_best_sellers {
    margin-bottom: 50px
}

@media (max-width: 767px) {
    .section_product_new,.section_best_sellers {
        margin-bottom:30px
    }
}

.section_product_new .block-title,.section_best_sellers .block-title {
    text-align: center
}

.section_product_new .block-title h2,.section_best_sellers .block-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all
}

.section_product_new .block-title h2 a,.section_best_sellers .block-title h2 a {
    position: relative;
    color: #000
}

.section_product_new .block-title h2 a:before,.section_best_sellers .block-title h2 a:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.section_product_new .block-title h2 a:after,.section_best_sellers .block-title h2 a:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.section_product_new .block-title h2 a:hover,.section_best_sellers .block-title h2 a:hover {
    color: #942319
}

.section_product_new .block-title h2 a:hover:before,.section_product_new .block-title h2 a:hover:after,.section_best_sellers .block-title h2 a:hover:before,.section_best_sellers .block-title h2 a:hover:after {
    background: #942319
}

@media (max-width: 767px) {
    .section_product_new .block-title h2,.section_best_sellers .block-title h2 {
        font-size:17px;
        line-height: 20.72px;
        margin-bottom: 10px
    }

    .section_product_new .block-title h2 a:before,.section_best_sellers .block-title h2 a:before {
        width: 6px;
        height: 6px;
        left: -20px
    }

    .section_product_new .block-title h2 a:after,.section_best_sellers .block-title h2 a:after {
        width: 6px;
        height: 6px
    }
}

.section_product_new .block-title p,.section_best_sellers .block-title p {
    font-size: 16px;
    line-height: 19.5px;
    color: #616161;
    margin-bottom: 35px
}

@media (max-width: 767px) {
    .section_product_new .block-title p,.section_best_sellers .block-title p {
        font-size:14px;
        margin-bottom: 15px
    }
}

.section_product_new .view-more,.section_best_sellers .view-more {
    width: 245px;
    height: 60px;
    background: #000;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    margin: auto;
    margin-top: 45px
}

@media (max-width: 767px) {
    .section_product_new .view-more,.section_best_sellers .view-more {
        margin-top:10px;
        width: 137px;
        height: 32px;
        font-size: 12px;
        line-height: 32px
    }
}

.section_product_new .view-more a,.section_best_sellers .view-more a {
    color: #fff;
    font-weight: bold;
    display: block
}

.section_product_new .view-more:hover,.section_best_sellers .view-more:hover {
    background: #942319
}

.section_product_new .swiper-pagination-bullets,.section_best_sellers .swiper-pagination-bullets {
    position: initial
}

@media (min-width: 767px) {
    .section_product_new .swiper-pagination-bullets,.section_best_sellers .swiper-pagination-bullets {
        display:none
    }
}

.section_product_new .swiper-pagination-bullets .swiper-pagination-bullet,.section_best_sellers .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 11px !important;
    height: 4px;
    margin: 0 2px;
    border-radius: initial
}

.section_product_new .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,.section_best_sellers .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px !important;
    background: #942319
}

.section_product_new .swiper-pagination-bullets .swiper-pagination-bullet:hover,.section_best_sellers .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background: #942319
}

@media (min-width: 1199px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:272px
    }
}

@media (max-width: 1199px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:220px
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:220px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:220px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:192px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:167px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) and (max-width: 320px) {
    .section_product_new .item_product_main .product-thumbnail .image_thumb,.section_best_sellers .item_product_main .product-thumbnail .image_thumb {
        height:140px
    }
}

.section_best_sellers .banner-product {
    margin-bottom: 40px
}

.section_best_sellers .banner-product a {
    display: block;
    height: 364px;
    overflow: hidden;
    position: relative
}

@media (max-width: 1199px) {
    .section_best_sellers .banner-product a {
        height:297px
    }
}

@media (max-width: 991px) {
    .section_best_sellers .banner-product a {
        height:221px
    }
}

@media (max-width: 767px) {
    .section_best_sellers .banner-product a {
        height:164px
    }
}

@media (max-width: 480px) {
    .section_best_sellers .banner-product a {
        height:142px
    }
}

@media (max-width: 425px) {
    .section_best_sellers .banner-product a {
        height:125px
    }
}

@media (max-width: 375px) {
    .section_best_sellers .banner-product a {
        height:109px
    }
}

@media (max-width: 321px) {
    .section_best_sellers .banner-product a {
        height:92px
    }
}

.section_best_sellers .banner-product a img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: opacity 800ms ease;
    -moz-transition: opacity 800ms ease;
    -o-transition: opacity 800ms ease;
    transition: opacity 800ms ease
}

@media (max-width: 767px) {
    .section_best_sellers .banner-product {
        margin-bottom:15px
    }
}

.block-tab-product {
    margin-bottom: 50px;
    background: #f6f6f6;
    padding: 40px 0
}

@media (max-width: 991px) {
    .block-tab-product {
        margin-bottom:30px
    }
}

@media (max-width: 480px) {
    .block-tab-product {
        margin-top:20px;
        margin-bottom: 30px
    }
}

.block-tab-product .block-title {
    text-align: center
}

.block-tab-product .block-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all
}

.block-tab-product .block-title h2 span {
    position: relative
}

.block-tab-product .block-title h2 span:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000
}

.block-tab-product .block-title h2 span:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000
}

@media (max-width: 767px) {
    .block-tab-product .block-title h2 {
        font-size:17px;
        line-height: 20.72px;
        margin-bottom: 10px
    }

    .block-tab-product .block-title h2 span:before {
        width: 6px;
        height: 6px;
        left: -20px
    }

    .block-tab-product .block-title h2 span:after {
        width: 6px;
        height: 6px
    }
}

.block-tab-product .block-title p {
    font-size: 16px;
    line-height: 19.5px;
    color: #616161;
    margin-bottom: 35px
}

@media (max-width: 767px) {
    .block-tab-product .block-title p {
        font-size:14px;
        margin-bottom: 15px
    }
}

.block-tab-product .tabs-title {
    margin-bottom: 40px
}

.block-tab-product .tabs-title li {
    margin: 0 2px 6px
}

.block-tab-product .tabs-title li span {
    font-size: 16px;
    padding: 5px 10px;
    line-height: 19.5px
}

@media (max-width: 767px) {
    .block-tab-product .tabs-title li span {
        font-size:12px
    }
}

.block-tab-product .tabs-title li.current span,.block-tab-product .tabs-title li:hover span {
    background: #000;
    color: #fff
}

@media (max-width: 767px) {
    .block-tab-product .tabs-title {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 15px
    }

    .block-tab-product .tabs-title li {
        flex-shrink: 0
    }
}

.block-tab-product .tab-content {
    opacity: 0;
    height: 0;
    overflow: hidden
}

.block-tab-product .tab-content.current {
    opacity: 1;
    height: auto;
    position: relative;
    min-height: 60px
}

.block-tab-product .tab-content.current .loading {
    position: absolute;
    top: 0;
    left: 50%
}

@media (min-width: 1199px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:273px
    }
}

@media (max-width: 1199px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:224px
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:223px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:218px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:190px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:165px
    }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) and (max-width: 320px) {
    .block-tab-product .tab-content .products-view-grid .product-block-item .product-transition {
        height:165px
    }
}

.block-tab-product .tab-content .swiper-button-next,.block-tab-product .tab-content .swiper-button-prev {
    background: initial;
    position: initial;
    display: inline-block;
    height: initial;
    top: initial;
    width: initial;
    margin: 0 2px
}

@media (min-width: 767px) {
    .block-tab-product .tab-content .swiper-button-next,.block-tab-product .tab-content .swiper-button-prev {
        display:none
    }
}

.block-tab-product .tab-content .swiper-button-next:after,.block-tab-product .tab-content .swiper-button-prev:after {
    display: none
}

.block-tab-product .tab-content .swiper-pagination-bullets {
    position: initial
}

.block-tab-product .tab-content .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 11px !important;
    height: 4px;
    margin: 0 2px;
    border-radius: initial
}

.block-tab-product .tab-content .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px !important;
    background: #942319
}

.block-tab-product .tab-content .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background: #942319
}

.block-tab-product .tab-content:hover .swiper-button-next {
    right: 5px;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

.block-tab-product .tab-content:hover .swiper-button-next.swiper-button-disabled {
    opacity: 0.35
}

.block-tab-product .tab-content:hover .swiper-button-prev {
    left: 5px;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.block-tab-product .tab-content:hover .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35
}

.section_accessories {
    margin-bottom: 50px
}

@media (max-width: 991px) {
    .section_accessories {
        margin-bottom:30px
    }
}

.section_accessories .block-title {
    text-align: center
}

.section_accessories .block-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all
}

.section_accessories .block-title h2 span {
    position: relative
}

.section_accessories .block-title h2 span:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000
}

.section_accessories .block-title h2 span:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000
}

@media (max-width: 767px) {
    .section_accessories .block-title h2 {
        font-size:17px;
        line-height: 20.72px;
        margin-bottom: 10px
    }

    .section_accessories .block-title h2 span:before {
        width: 6px;
        height: 6px;
        left: -20px
    }

    .section_accessories .block-title h2 span:after {
        width: 6px;
        height: 6px
    }
}

.section_accessories .block-title p {
    font-size: 16px;
    line-height: 19.5px;
    color: #616161;
    margin-bottom: 35px
}

@media (max-width: 767px) {
    .section_accessories .block-title p {
        font-size:14px;
        margin-bottom: 15px
    }
}

@media (min-width: 767px) {
    .section_accessories .accessories-swiper .swiper-wrapper {
        display:block;
        margin-left: -10px;
        margin-right: -10px
    }

    .section_accessories .accessories-swiper .swiper-wrapper .swiper-slide {
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1199px) {
    .section_accessories .accessories-swiper .swiper-wrapper .swiper-slide.cate-2 {
        margin-bottom:24px
    }
}

@media (max-width: 1199px) and (min-width: 991px) {
    .section_accessories .accessories-swiper .swiper-wrapper .swiper-slide.cate-2 {
        margin-bottom:19px
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    .section_accessories .accessories-swiper .swiper-wrapper .swiper-slide.cate-2 {
        margin-bottom:14px
    }
}

.section_accessories .accessories-swiper .cate-item {
    position: relative
}

.section_accessories .accessories-swiper .cate-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8), transparent);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0, transparent);
    z-index: 1;
    cursor: pointer
}

@media (min-width: 1199px) {
    .section_accessories .accessories-swiper .cate-item .image {
        overflow:hidden;
        display: block
    }

    .section_accessories .accessories-swiper .cate-item .image img {
        transition: all 0.5s
    }

    .section_accessories .accessories-swiper .cate-item:hover .image img {
        transform: scale(1.05)
    }
}

@media (min-width: 767px) {
    .section_accessories .accessories-swiper .cate-item .image {
        position:relative;
        display: block;
        overflow: hidden
    }
}

.section_accessories .accessories-swiper .cate-item .info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 9;
    width: calc(100% - 30px);
}

.section_accessories .accessories-swiper .cate-item .info h3 {
    font-size: 32px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 15px
}

.section_accessories .accessories-swiper .cate-item .info h3 a {
    color: #fff;
    display: block
}

.section_accessories .accessories-swiper .cate-item .info h3 a:hover {
    color: #942319
}

.section_accessories .accessories-swiper .cate-item .info .view-more {
    color: #fff;
    font-size: 12px;
    line-height: 20px
}

.section_accessories .accessories-swiper .cate-item .info .view-more:hover {
    color: #942319
}

.section_accessories .accessories-swiper .cate-item .info .view-more svg {
    margin-left: 3px
}

@media (max-width: 991px) {
    .section_accessories .accessories-swiper .cate-item .info {
        bottom:10px;
        left: 10px
    }

    .section_accessories .accessories-swiper .cate-item .info h3 {
        font-size: 20px;
        margin-bottom: 0
    }
}

@media (min-width: 1199px) {
    .section_accessories .accessories-swiper .cate-1 .cate-item .image {
        height:488px
    }

    .section_accessories .accessories-swiper .cate-2 .cate-item .image,.section_accessories .accessories-swiper .cate-3 .cate-item .image {
        height: 232px
    }
}

@media (max-width: 1199px) and (min-width: 991px) {
    .section_accessories .accessories-swiper .cate-1 .cate-item .image {
        height:395.31px
    }

    .section_accessories .accessories-swiper .cate-2 .cate-item .image,.section_accessories .accessories-swiper .cate-3 .cate-item .image {
        height: 188.28px
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    .section_accessories .accessories-swiper .cate-1 .cate-item .image {
        height:289.98px
    }

    .section_accessories .accessories-swiper .cate-2 .cate-item .image,.section_accessories .accessories-swiper .cate-3 .cate-item .image {
        height: 138.06px
    }
}

.section_accessories .view-all {
    text-align: center;
    margin-top: 45px

}

.section_accessories .view-all a {
    width: 245px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 27px;
}

.section_accessories .view-all a:hover {
    background: #942319
}

@media (max-width: 991px) {
    .section_accessories .view-all {
        margin-top:30px
    }
}

@media (max-width: 991px) and (max-width: 767px) {
    .section_accessories .view-all {
        margin-top:10px
    }
}

@media (max-width: 991px) {
    .section_accessories .view-all a {
        width:137px;
        height: 32px;
        font-size: 11px
    }
}

.section_accessories .swiper-pagination-bullets {
    position: initial
}

@media (min-width: 767px) {
    .section_accessories .swiper-pagination-bullets {
        display:none
    }
}

.section_accessories .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 11px !important;
    height: 4px;
    margin: 0 2px;
    border-radius: initial
}

.section_accessories .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px !important;
    background: #000
}

.section_accessories .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background: #000
}

.section_feedback {
    padding: 80px 0;
    position: relative
}

.section_feedback:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(https://bizweb.dktcdn.net/100/423/630/files/background-feedback.jpg?v=1640052884750);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(0);
    opacity: 0.2
}

.section_feedback:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1
}

@media (max-width: 767px) {
    .section_feedback {
        padding:25px 0
    }
}

.section_feedback .block-title {
    text-align: center
}

.section_feedback .block-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all
}

.section_feedback .block-title h2 span {
    position: relative
}

.section_feedback .block-title h2 span:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #fff
}

.section_feedback .block-title h2 span:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #fff
}

@media (max-width: 767px) {
    .section_feedback .block-title h2 {
        font-size:17px;
        line-height: 20.72px;
        margin-bottom: 10px
    }

    .section_feedback .block-title h2 span:before {
        width: 6px;
        height: 6px;
        left: -20px
    }

    .section_feedback .block-title h2 span:after {
        width: 6px;
        height: 6px
    }
}

.section_feedback .block-title p {
    font-size: 16px;
    line-height: 19.5px;
    color: #fff;
    margin-bottom: 35px;
    position: relative
}

@media (max-width: 767px) {
    .section_feedback .block-title p {
        font-size:14px;
        margin-bottom: 15px
    }
}

.section_feedback .swiper-pagination-bullets {
    position: initial;
    margin-top: 30px
}

.section_feedback .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px !important;
    height: 5px;
    margin: 0 2px;
    border-radius: initial;
    background: #CECECE;
    opacity: 1
}

.section_feedback .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
    background: #000
}

.section_feedback .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background: #000
}

@media (max-width: 767px) {
    .section_feedback .swiper-pagination-bullets {
        margin-top:10px
    }

    .section_feedback .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 11px !important;
        height: 4px
    }

    .section_feedback .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 20px !important
    }
}

.section_blog {
    padding: 50px 0
}

@media (max-width: 767px) {
    .section_blog {
        padding:25px 0 10px
    }
}

.section_blog .block-title {
    text-align: center
}

.section_blog .block-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all
}

.section_blog .block-title h2 a {
    position: relative;
    color: #000
}

.section_blog .block-title h2 a:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.section_blog .block-title h2 a:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.section_blog .block-title h2 a:hover {
    color: #942319
}

.section_blog .block-title h2 a:hover:before,.section_blog .block-title h2 a:hover:after {
    background: #942319
}

@media (max-width: 767px) {
    .section_blog .block-title h2 {
        font-size:17px;
        line-height: 20.72px;
        margin-bottom: 10px
    }

    .section_blog .block-title h2 a:before {
        width: 6px;
        height: 6px;
        left: -20px
    }

    .section_blog .block-title h2 a:after {
        width: 6px;
        height: 6px
    }
}

.section_blog .block-title p {
    font-size: 16px;
    line-height: 19.5px;
    color: #616161;
    margin-bottom: 35px
}

@media (max-width: 767px) {
    .section_blog .block-title p {
        font-size:14px;
        margin-bottom: 15px
    }
}

.section_blog .content_blog {
    margin-top: 15px
}

.section_blog .content_blog h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 26px;
    margin-bottom: 10px;
    word-break: break-word
}

.section_blog .content_blog h3 a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #494949
}

.section_blog .content_blog h3 a:hover {
    color: #942319
}

.section_blog .content_blog .time-post {
    margin-bottom: 10px
}

.section_blog .content_blog .time-post span {
    margin-right: 10px
}

.section_blog .content_blog .time-post span.posted,.section_blog .content_blog .time-post span.author {
    color: #808080;
    font-size: 13px
}

.section_blog .content_blog .time-post span.posted svg,.section_blog .content_blog .time-post span.author svg {
    margin-right: 3px;
    margin-top: -3px
}

@media (max-width: 767px) {
    .section_blog .content_blog .time-post span {
        display:block
    }

    .section_blog .content_blog .time-post span.posted svg,.section_blog .content_blog .time-post span.author svg {
        margin-top: -1px
    }
}

.section_blog .content_blog p {
    font-size: 14px;
    line-height: 20px;
    color: #656565;
    margin-bottom: 10px;
    word-break: break-word
}

.section_blog .content_blog .view-more a {
    font-size: 12px;
    font-weight: 600;
    color: #303030
}

.section_blog .content_blog .view-more a:hover {
    color: #942319
}

.section_blog .content_blog .view-more a svg {
    margin-left: 5px
}

.section_blog .video_play:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%)
}

.section_blog .video_play:after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #333;
    opacity: 0.5;
    z-index: 1
}

.section_blog .block-thumb {
    position: relative
}

@media (min-width: 767px) {
    .section_blog .thumb {
        position:relative;
        display: block;
        overflow: hidden
    }
}

@media (min-width: 767px) and (min-width: 1199px) {
    .section_blog .thumb {
        height:240px
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    .section_blog .thumb {
        height:195px
    }
}

@media (min-width: 767px) and (max-width: 1199px) and (max-width: 991px) {
    .section_blog .thumb {
        height:140px
    }
}

@media (min-width: 767px) and (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) {
    .section_blog .thumb {
        height:220px
    }
}

@media (min-width: 767px) and (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) {
    .section_blog .thumb {
        height:192px
    }
}

@media (min-width: 767px) and (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) {
    .section_blog .thumb {
        height:167px
    }
}

@media (min-width: 767px) and (max-width: 1199px) and (max-width: 991px) and (max-width: 480px) and (max-width: 425px) and (max-width: 375px) and (max-width: 320px) {
    .section_blog .thumb {
        height:140px
    }
}

@media (min-width: 767px) {
    .section_blog .thumb img {
        max-width:100%;
        max-height: 100%;
        width: auto !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.5s
    }
}

@media (max-width: 767px) {
    .section_blog .blogs_mobile_base .col-12 .item_blog_base {
        border-bottom:1px solid #E5E5E5;
        padding-bottom: 5px;
        margin-bottom: 15px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base {
        display: flex;
        padding-bottom: 15px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .block-thumb,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .block-thumb {
        max-width: 130px;
        margin-right: 10px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog {
        margin-top: 0;
        width: calc(100% - 140px)
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog h3,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog h3 {
        line-height: 24px;
        margin-bottom: 5px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog h3 a,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog h3 a {
        font-size: 15px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog .time-post span.posted,.section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog .time-post span.author,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog .time-post span.posted,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog .time-post span.author {
        font-size: 10px
    }

    .section_blog .blogs_mobile_base .col-12:nth-child(3) .item_blog_base .content_blog p,.section_blog .blogs_mobile_base .col-12:nth-child(2) .item_blog_base .content_blog p {
        display: none
    }

    .section_blog .blogs_mobile_base .col-12:last-child .item_blog_base {
        border-bottom: initial;
        margin-bottom: 0
    }
}

.effect-ming {
    overflow: hidden
}

.effect-ming .overlay {
    top: 0;
    left: 0;
    padding: 30px;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 3
}

@media (min-width: 1199px) {
    .effect-ming .overlay::before {
        content:'';
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        border-radius: 0.25rem;
        box-shadow: 0 0 0 45pxrgba 255,255,255,0.2;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale3d(1.4, 1.4, 1);
        background-image: url("//bizweb.dktcdn.net/100/446/974/themes/849897/assets/favicon2.png?1678179841444");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70px;
        background-color: rgba(248,109,114,0.2)
    }

    .effect-ming:hover .overlay::before {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

.h-100 {
    height: 100% !important
}

.w-100 {
    width: 100% !important
}

.item_grid .sum {
    font-size: 0.95rem;
    color: #bdbdbd
}

.line_1,.line_2,.line_3,.line_4,.line_5 {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 1
}

.line_3 {
    -webkit-line-clamp: 3;
    height: calc(21px * 3);
    line-height: 21px
}

.line_4 {
    -webkit-line-clamp: 4;
    height: calc(21px * 4);
    line-height: 21px
}

.line_5 {
    -webkit-line-clamp: 5;
    height: calc(21px * 5);
    line-height: 21px
}

.mb-2,.my-2 {
    margin-bottom: 0.5rem !important
}

.mb-3,.my-3 {
    margin-bottom: 2rem !important
}

.text-justify {
    text-align: justify !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.font-weight-bold {
    font-weight: 700 !important
}

.aspect .img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important
}

.ratio1by2 {
    padding-bottom: 50%
}

@media (min-width: 566px) {
    .item_grid .entry-date {
        color:#fff;
        top: 10px;
        left: -5px;
        background: #000;
        padding: 3px 7px;
        line-height: normal;
        z-index: 9
    }

    .item_grid .entry-date p.day {
        font-size: 1.2rem;
        margin: 0;
        font-weight: 700
    }

    .item_grid .entry-date p.yeah {
        font-size: 0.8rem;
        margin: 0
    }
}

.text-center {
    text-align: center !important
}

.img_thm {
    margin-bottom: 10px
}

.home-slider img {
    width: 100%
}
